.background {
    background-image: url('https://recess-group.s3-us-west-2.amazonaws.com/lockers.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:  center;
    align-items: center;
}

.playerCard {
    border: 5px solid indigo;
    text-align: center;
    height: 600px;
    width: 500px;
    background-image: linear-gradient(to bottom right, indigo, darkslateblue, white);
}

.profilePic {
    height: 225px;
    width: 225px;
    border-radius: 50%;
    border: 5px inset black;
    margin: 50px
}

.btn {
    height: 40px;
    width: 60px;
    border-radius: 12px;
    background-color: indigo;
    margin: 10px;
    font-family: 'Black Ops One', cursive;
    color: gold;
    border: 5px solid indigo;
}

@media screen and (max-width: 500px) {
   
}