.bracketBoard {
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://recess-group.s3-us-west-2.amazonaws.com/eventsbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3% 0;

}

.button {
    height: ;
    width: 50%;
    border-radius: 12px;
    background-color: whitesmoke;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    color: black;
    border: 5px solid whitesmoke;
    
}

.planner {
    width: 60%;
    border: 5px solid indigo;
    margin: 5%;
    background-image: linear-gradient(to bottom right, indigo, darkslateblue, white);
    text-align: center;
    box-shadow: 0px 0px 16px 0px #000000;

}

.title {
    font-family: 'Black Ops One', cursive;
    margin-top: 50px;
    font-style: italic;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: gold;
}

.eventDeets{   
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

.eventsDetails {
    font-family: 'Oswald', sans-serif;
    border-top: 1px solid whitesmoke;
    font-style: italic;
    margin-top: 10px 0;
    padding: 10px 0
   
}

.eventRow {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    border-bottom: 2px solid whitesmoke;
    padding: 3% 0;
}

.mapComp {
    width: 70%;
    border: 3px solid black;
    box-shadow: 0px 0px 16px 0px #000000;
    margin: 5%;
}

@media screen and (max-width: 500px) {
    .planner {
        width: 75%;
    }

    .mapComp {
        width: 90%;
       
    }
}