.bg {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('https://recess-group.s3-us-west-2.amazonaws.com/7602065_sports-and-recreation-la-palmas-central-park-scott-feinblatt.jpg');
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.registerBox {
    border: 5px solid indigo;
    text-align: center;
    margin-top: 20px;
    padding: 0;
    background-image: linear-gradient(to bottom right, indigo, darkslateblue, white);
}

.header {
    font-family: 'Black Ops One', cursive;
    color: gold;
}

.input {
    border: 5px solid indigo;
    border-radius: 4px;
    margin: 3px;
    
}

.btn {
    height: 40px;
    width: 60px;
    border-radius: 12px;
    background-color: whitesmoke;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    color: black;
    border: 1px solid black;
}

@media screen and (max-width: 500px) {
    /* .bg {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('https://recess-group.s3-us-west-2.amazonaws.com/7602065_sports-and-recreation-la-palmas-central-park-scott-feinblatt.jpg');
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } */

    .registerBox {
        width:100%;
        margin-top: 70px;
        border: 5px solid indigo;
        background-image: linear-gradient(to bottom right, indigo, darkslateblue, white);
        text-align: center;
        padding: 0;
    } 
}